<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- CSS / JS -->
<section th:replace="common :: cssAndJS"></section>

<!-- Head -->
<head th:replace="common :: head(Home)"></head>

<body>

	<!-- Top Navigation -->
	<div th:replace="common :: topNav"></div>

	<!-- Main -->
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Welcome to Indy Oracle</h1>
				</div>
			</div>
		</div>
	
		<div class="alert alert-dismissable alert-success"
			th:if="${newUser == true}">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<p><strong>Success!</strong> You're now registered. Please log in.</p>
		</div>

		<div class="row" th:if="${user != null}">
			<div class="col-md-6">
				<div class="lead">Profile Progress</div>
			</div>
		</div>
	
		<div class="row" th:if="${user != null}">
			<div class="col-md-6">
				<div class="progress">
					<div class="progress-bar" role="progressbar" th:attr="aria-valuenow=${percentage}"
						aria-valuemin="0" aria-valuemax="100"
						th:classappend="(${profileDone} ? progress-100 : (${percentage} == '75' ? progress-75 : progress-66)) + ' ' + (${profileDone} ? progress-bar-success : progress-bar-info)">
						<span th:text="${percentage}"/>
					</div>
				</div>
			</div>
		</div>
		
	</div>
		
</body>

</html>