<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- CSS / JS -->
<section th:replace="common :: cssAndJS"></section>

<!-- Head -->
<head th:replace="common :: head(Profile)"></head>

<body>

	<!-- Top Navigation -->
	<div th:replace="common :: topNav"></div>

	<!-- Main -->
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Profile</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Info</div>
					<form th:action="@{/user/profile}" th:object="${userBean}" method="post">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<label for="inputFirstName" class="control-label">First Name</label>
									<input type="text" th:field="*{firstName}"
										class="form-control" id="inputFirstName"
										placeholder="John" th:value="${userBean.firstName}" />
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<label for="inputLastName" class="control-label">Last Name</label>
									<input type="text" th:field="*{lastName}"
										class="form-control" id="inputLastName"
										placeholder="Smith" th:value="${userBean.lastName}" />
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<label for="inputPhoneNumber" class="control-label">Phone</label>
									<input type="text" th:field="*{phoneNumber}"
										class="form-control" id="inputPhoneNumber"
										placeholder="3171234567" th:value="${userBean.phoneNumber}" /> 
									<span class="help-block">* Do not include hyphens.</span>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<button type="submit" class="btn btn-primary">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>